<!--form handling-->
<form method="POST" id="add_task">
    <div class="new_task">
        <div class="form-group">
            <label for="title" class="text-light">Title</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="title" value="" placeholder="Please enter the task title">
        </div>
        <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input type="text" name="description" value="" placeholder="Please enter the task description">
        </div>
        <div class="form-group">
            <label for="priority" class="text-light">Priority</label>
            <div class="radio inline">
                <input type="radio"id="radio-2"name="priority"value="Low">
                <label for="radio-2"class="radio-label">Low</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3"name="priority" value="Normal">
                <label for="radio-3" class="radio-label">Normal</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-4"name="priority" value="High">
                <label for="radio-4" class="radio-label">High</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5"name="priority" value="Urgent">
                <label for="radio-5" class="radio-label">Urgent</label>
            </div>
        </div>
        <div class="form-group">
            <label for="priority" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-6"name="status" value="To do">
                <label for="radio-6" class="radio-label">To do</label>
            </div>
            <div class="radio inline">
                <input type="radio"id="radio-7" name="status" value="In progress">
                <label for="radio-7" class="radio-label">In progess</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-8"name="status" value="Done">
                <label for="radio-8" class="radio-label">Done</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>